
.titteln {
  font-style: italic;
  text-align:center;
  
}

.form-container{
  position: absolute;
  top: 15px;
  background: #a8a8df;
  padding: 25px;
  border-radius: 15px;
  color:#dddddd;
}


© 2021 GitHub, Inc.
